<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into dish (id, name, category_id, price, image, description, status, create_time, update_time, create_user, update_user) VALUES
        (#{id},#{name},#{categoryId},#{price},#{image},#{description},#{status},#{createTime},#{updateTime},#{createUser},#{updateUser})
    </insert>


    <select id="pageQuery" resultType="com.sky.vo.DishVO">
        select d.*,c.name as categoryName
        from dish d left outer join category c on d.category_id=c.id
        <where>
            <if test="name!=null and name!=''">
                and d.name like concat('%',#{name},'%')
            </if>
            <if test="status!=null">
                and d.status = #{status}
            </if>
            <if test="categoryId!=null">
                and d.category_id = #{categoryId}
            </if>
        </where>
        order by d.create_time desc
    </select>

    <!--根据菜品ids批量删除菜品-->
    <delete id="deleteByIds" parameterType="java.lang.Long">
        delete from dish
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <resultMap id="dishVoMap" type="com.sky.vo.DishVO">
        <!-- 映射 Dish 类的属性 -->
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="categoryId" column="category_id"/><!--注意！！！这里封装的categoryId是前端所必须的，因为前端是先查category表发送/category/list?type=1请求得到全部的菜品分类，然后根据这里的categoryId回显菜品分类，所以categoryId没有的话那么前端就不会回显-->
        <result property="price" column="price"/>
        <result property="image" column="image"/>
        <result property="description" column="description"/>
        <result property="status" column="status"/>
        <result property="updateTime" column="updateTime"/>
        <!--<result property="categoryName" column="cname"/>--><!--这里不是必须的，因为前端是根据categoryId进行回显的，没有categoryName也没关系-->
        <collection property="flavors" ofType="com.sky.entity.DishFlavor">
            <id property="id" column="dfId"/>
            <result property="id" column="dishId"/>
            <result property="name" column="dfName"/>
            <result property="value" column="dfValue"/>
        </collection>
    </resultMap>

    <!--根据菜品id查询菜品和口味数据-->
    <select id="getByIdWithFlavor" resultMap="dishVoMap">
        select d.*,df.id dfId,df.dish_id dishId,df.name dfName,df.value dfValue
        from dish d
        left join dish_flavor df on d.id = df.dish_id
        <where>
            <if test="id!=null">
                and d.id = #{id}
            </if>
        </where>

    </select>

    <!--根据菜品条件查询菜品和口味数据-->
    <select id="listWithFlavor" resultMap="dishVoMap">
        select d.*,df.id dfId,df.dish_id dishId,df.name dfName,df.value dfValue
        from dish d
        left join dish_flavor df on d.id = df.dish_id
        <where>
            <if test="categoryId!=null">
                and d.category_id = #{categoryId}
            </if>
            <if test="status!=null">
                and d.status = #{status}
            </if>
        </where>
    </select>

    <update id="update">
        update dish
        <set>
            <if test="name!=null">
                name = #{name},
            </if>
            <if test="categoryId!=null">
                category_id = #{categoryId},
            </if>
            <if test="price!=null">
                price = #{price},
            </if>
            <if test="image!=null">
                image = #{image},
            </if>
            <if test="description!=null">
                description = #{description},
            </if>
            <if test="status!=null">
                status = #{status},
            </if>
            <if test="updateTime!=null">
                update_time = #{updateTime},
            </if>
            <if test="updateUser!=null">
                update_user = #{updateUser},
            </if>
        </set>
            where id = #{id}
    </update>

    <!--根据条件查询菜品-->
    <select id="list" resultType="com.sky.entity.Dish">
        select * from dish
        <where>
            <if test="name != null and name!=''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="categoryId!=null">
                and category_id = #{categoryId}
            </if>
            <if test="status!=null">
                and status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>

    <!--根据套餐id查询该套餐下的菜品-->
    <select id="getbySetmealId" resultType="com.sky.entity.Dish">
        select d.* from dish d left join setmeal_dish sd on d.id=sd.dish_id where sd.setmeal_id = #{id}
    </select>
</mapper>